<div class="header">
  <div class="name">
    <span class="nick">Кармацких Никита Александрович</span>
    <div class="clear"></div>
    <span class="dimon">Чистоходов Дмитрий Андреевич</span>
  </div>
  <div class="clear"></div>
  <div class="metainfo">
    <span id="group">Группа Р3201</span>
    <span id="variant">Вариант № 18143</span>
  </div>
</div>

<div *ngIf="authService.isAuthenticated()">
  <button id="logout_button" (click)="authService.logOut()">Log out</button>
</div>
<router-outlet></router-outlet>
