html, body {
  margin: 0;
}

.header,
footer {
  background-color: #0a2891;
  color: #fff;
  min-height: 85px;
  font-family: monospace;
}

.metainfo {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
}

.metainfo span:first-child{
  display: inline-block;
  margin-right: 5px;
}
.name + .clear{
  clear: both;
}
.name{
  font-size: 24px;
  padding-top: 10px;
}

.nick{
  float: left;
  margin-left: 100px;
}

.dimon{
  float: right;
  margin-right: 100px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div {
  text-align: center;
  font-size: 14px;
  margin-top: 42px;
}

@media only screen and (min-width: 723px) and (max-width: 1057px) {
.header .name{
  font-size: 20px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
}
  .dimon, .nick{
    margin: 0;
  }
  .name .clear{
    clear: both;
  }

  .metainfo{
    top: 70px;
  }
}

@media only screen and (max-width: 753px){
  .header .name{
    font-size: 14px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
  }

  .name .clear{
    clear: both;
  }

  .metainfo{
    top: 100px;
  }

  .nick,.dimon{
    margin: auto;
    margin-top: 5px;

  }
  .header{
    height: 150px;
  }
}

#logout_button{
  margin-right: 0;
}
