<div class="previous_checks">
  <h2 class="title">Результаты прошлых проверок</h2>

  <table id="history_table" border="1">
    <thead>
      <tr>
        <th>Дата проверки</th>
        <th>Координата Х</th>
        <th>Координата Y</th>
        <th>Радиус</th>
        <th>Результат</th>
      </tr>
    </thead>

    <tbody id="tbody">
    <tr *ngFor="let bit of history">
      <td>
        {{bit.date}}
      </td>
      <td>
        {{bit.xValue}}
      </td>
      <td>
        {{bit.yValue}}
      </td>
      <td>
        {{bit.rValue}}
      </td>
      <td class="result">
        {{bit.result}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
