<div class="previous_checks">
  <h2 class="title">Результаты прошлых проверок</h2>

  <table id="history_table" border="1">
    <thead>
    <th>x</th>
    <th>y</th>
    <th>r</th>
    <th>результат проверки</th>
    <th>дата</th>
    </thead>

    <tbody id="tbody">
    <tr *ngFor="let bit of history">
      <td class="x_coord">
        {{bit.x}}
      </td>
      <td class="y_coord">
        {{bit.y}}
      </td>
      <td>
        {{bit.r}}
      </td>
      <td class="result">
        {{bit.result}}
      </td>
      <td>
        {{bit.date}}
      </td>

    </tr>
    </tbody>
  </table>
</div>
