<div class="content">
  <form id="area_form" class="choose" method="post">
    <div class="x">
      <p>Выберите координату по X:
        <span id="x-err" class="error_message">ошибка X</span>
      </p>

      <span *ngFor="let x of xValues">
        <input id="{{'x'+ x}}" [(ngModel)]="valueOfX" [value]="x" type="radio" name="valueOfX">
        <label for="{{'x'+ x}}">{{x}}</label>
      </span>
    </div>

    <div class="clear"></div>

    <div class="y">
      <p>Выберите координату по Y:
        <span id="y-err" class="error_message">ошибка Y</span>
      </p>
      <input class="yInput" type="text" maxlength="15" [(ngModel)]="valueOfY" name="valueOfY" placeholder="Введите число от -3 до 3">
    </div>

    <div class="clear"></div>

    <div class="r">
      <p>Выберите значение радиуса R:
        <span id="r-err" class="error_message">ошибка R</span>
      </p>

      <span *ngFor="let r of xValues">
        <input id="{{'r' + r}}" [(ngModel)]="valueOfR" [value]="r" type="radio" name="valueOfR">
        <label for="{{'r' + r}}">{{r}}</label>
      </span>
    </div>

    <button>Check!</button>
    <canvas id="myCanvas" width="300" height="300"
            style="border: 2px solid #0a28b4"></canvas>
  </form>
  <app-index [history]="history"></app-index>
</div>
