app-login{
  background: rgba(250,240,250,0.3);
}

.input{
  position: fixed;
  width: auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%);

}

.error-message{
  margin-top: -15px;
  color: red;
  font-size: 0.7em;
}

input{
  margin-bottom: 10px;
}
